<!-- <div *ngIf='this.studentServiceData.isLoad'> -->
<div>
    <app-navbar></app-navbar>
    <div class="main">
        <h1>Администрирование LMS</h1>
        <div class="inline">
            <div class="div1">
                <p class="active">Активность пользователей</p>
                <p> Показывает процентное соотношение пользователей, осуществиших свой последний вход в систему в последние сутки, от суток до недели и тд., от общего числа пользователей</p>
            </div>
            <div class="div2">
                <p>Всего пользователей: {{ load().totalUsersCount }} </p>
                <p>Зарегистрировано студентов: {{load().totalStudentsCount }} </p>
                <p>Зарегистрировано преподавателей: {{ load().totalLecturersCount }} </p>
                <p>Сервисных аккаунтов: {{ load().serviceAccountsCount }}</p>
            </div>
        </div>
    </div>
</div>