<form class="example-form">

    <mat-form-field class="example-full-width">
        <mat-label>Кому</mat-label>
        <input matInput>
    </mat-form-field>


    <mat-form-field class="example-full-width">
        <mat-label>Тема</mat-label>
        <input matInput>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Текст сообщения</mat-label>
        <textarea matInput></textarea>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <wa-mat-file-upload>Choose file</wa-mat-file-upload>

    </mat-form-field>

</form>