<div>
    <div mat-dialog-title class="container">
        <h2>Изучаемые предметы</h2>
        <button mat-button class="close-icon" [mat-dialog-close]="true">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content>
        <div class="">
            <table mat-table [dataSource]="dataSource" matSort matSortStart="asc" class="mat-elevation-z8">

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Название </th>
                    <td class="table-container" mat-cell *matCellDef="let element"> {{ element.name }} </td>
                </ng-container>

                <ng-container matColumnDef="lectures">
                    <th mat-header-cell *matHeaderCellDef> Преподаватель </th>
                    <td class="table-container" mat-cell *matCellDef="let element">
                        <p *ngFor="let lecture of element.lectures">{{ lecture }}</p>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>
</div>