<div>
    <div mat-dialog-title class="container">
        <h2>Список предметов</h2>
        <button mat-button class="close-icon" [mat-dialog-close]="true">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content>
        <div class="">
            <table mat-table [dataSource]="dataSource" matSort matSortStart="asc" class="mat-elevation-z8">

                <ng-container matColumnDef="subject">
                    <th mat-header-cell *matHeaderCellDef> Предмет </th>
                    <td class="table-container" mat-cell *matCellDef="let element"> {{ element.subject }} </td>
                </ng-container>

                <ng-container matColumnDef="groups">
                    <th mat-header-cell *matHeaderCellDef> Группа </th>
                    <td class="table-container" mat-cell *matCellDef="let element">
                        <p *ngFor="let group of element.groups">{{ group }}</p>
                    </td>
                </ng-container>

                <ng-container matColumnDef="countOfStudents">
                    <th mat-header-cell *matHeaderCellDef> Количество студентов </th>
                    <td class="table-container" mat-cell *matCellDef="let element">
                        <p *ngFor="let count of element.countOfStudents">{{ count }}</p>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>
</div>